---
- name: Post provision via SSM (no SSH)
  hosts: all
  gather_facts: true
  vars:
    ansible_connection: amazon.aws.aws_ssm
    ansible_aws_ssm_region: "{{ aws_region | default('ap-northeast-2') }}"
  pre_tasks:
    - name: Show connection
      ansible.builtin.debug:
        msg:
          - "Using SSM connection: {{ ansible_connection }}"
          - "Region: {{ ansible_aws_ssm_region }}"
  roles:
    - docker_engine
    - compose_stack
